{% extends 'iframe.html.twig' %}

{% block content %}
    <div class="row">
        <div class="small-11 columns small-centered"  style="margin-top: 40px;">
            <div data-alert class="alert-box {{ class }}">
                {{ message }}
            </div>
        </div>
    </div>
{% endblock %}
